.progress {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template: 70px / repeat(3, 350px);
        grid-auto-rows: 70px;
        row-gap: 30px;
        column-gap: 45px;
    }
    &-item {
        &__header {
            display: flex;
            justify-content: space-between;
        }
        &__title {
            position: relative;
            padding-left: 13px;
            @include before_circle;
            &:before {
                top: -8px;
            }
        }
        &__line {
            height: 14px;
            background: #E8E4DE;
            border-radius: 4px;
            margin-top: 20px;
        }
        &__level {
            height: 100%;
            background-color: $main-color;
            border-radius: 4px;
        }
    }
}